<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>veterinarias | Patrulla De Mascotas</title>
    <link rel="stylesheet" href="../../static/css/veterinarias/veterinaria.css">
</head>
<body>
  {% extends "layouts/navegador.html" %} 
  {% block content %}

  <h1>veterinarias prueba</h1>
    <div id="map"></div>

    <br><br><br>
    <!-- 21.8570633,-102.2729943,15z/ -->
 
    {% for i in dts %}
        <br><br><br>
        {{i.6}} <br>
            {{i.0}} <!-- id_veterinaria --> 
          <br><br>
          <p id="latitud">{{i.1}}</p>
          <p id="longitud">{{i.2}}</p>

             <!-- latitud -->
            <br><br>
            <!-- longitud -->
            <br><br>


            <img src="  {{i.3}} " alt="">
            <br>
            <img src=" {{i.4}} " alt="">
             <br>
             <img src=" {{i.5}}  " alt="">
            <br>
       <br><br><br>
    {% endfor %}
        <br><br><br>
    <script src="../../static/js/veterinaria/veterinaria.js" ></script>
    <script src="https://maps.googleapis.com/maps/api/js?Key=AIzaSyCMTj9fYieIF3zGClK9nIRpYE5htl4QdD4&callback=iniciarMap" ></script>
  {% endblock %} 
</body>
</html>