<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal | Patrulla De Mascotas</title>
    <link rel="icon" href="../../static/Iconos/logo_blanco.png">
    <link rel="stylesheet" href="../../static/css/inicio/inicio.css">
</head>
<body>
    {% extends "layouts/navegador.html" %}
    {% block content %}

    <section class="home section">
        <video class="video-slide active" src="../../static/videos/principal.mp4" autoplay muted loop></video>

        <video class="video-slide" src="../../static/videos/perrob.mp4" autoplay muted loop></video>

        <video class="video-slide" src="../../static/videos/conejo.mp4" autoplay muted loop></video>

        <video class="video-slide" src="../../static/videos/loro.mp4" autoplay muted loop></video>


        <div class="content cont  active">
            <h1>Bienvenido a<br><span>PATRULLA DE MASCOTAS</span> </h1>
            <p>Este proyecto tiene como objetivo desarrollar una plataforma digital que facilite la adopción y asistencia a animales en situación de calle, promoviendo la concienciación sobre la responsabilidad social hacia los seres vivos. A través de un sitio web interactivo, se busca conectar a los animales necesitados con posibles adoptantes y fomentar la colaboración entre la comunidad y organizaciones dedicadas al bienestar animal. </p>
            <a href="#sbn">Ver mas sobre nosotros</a>
        </div>

        <div class="content ">
            <h1>Sobre<br><span>DONATIVOS</span> </h1>
            <p> Tenemos varios formularios sobre donaciones, con diferentes caracteristicas, cada donacion es muy diferente la una con la otra. Estara disponible una donacion en la que puedas donar a otras personas que estan cuaidando a un animal temporamente (que no lo pueden cuidar permanentemente), o donaciones fisicas en las que puedes donar fisicamente para dar comida a animalitos en la calle, etc.  </p>
            <a href="#carousel">Ver mas</a>
        </div>

        <div class="content ">
            <h1>Sobre<br><span>algunas funciones especiales</span> </h1>
            <p>Tenemos paginas de reportes donde puedes reportas a animalitos en diferentes situaciones, ya sea para adoptar, dar en adopcion, reportar un animalito en la calle (abandonado) o un animalito herido, tambien poder ver las publicaciones de otras personas al buscar a sus mascotas (que estan perdidas). </p>
            <a href="#fun">Ver mas</a>
        </div>

        <div class="content ">
            <h1>Sobre<br><span>Primeros Auxilios</span> </h1>
            <p>Estamos en proceso de desarrolo en crear paginas especificamente para primeros auxilios, en varias situaciones distintas y que el usuario pueda ver mucha informacion, consejos, comodidades que debaria dar a su mascota.Tambien desarrollaremos paginas para lidiar en situaciones dificiles, como un animal herido o una mascota con sintomas extraños.Y por ultimo un pagina para ver las veterinarias mas cercanas y su informacion, tambien se podrian ver todas las veterinarias en el estado en el que te encuentras.
            </p>
            <a href="#au">Ver mas</a>
        </div>
        <div class="slider-navigation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
    </section>
<br><br><br><br><br><br><br><br><br><br>
    <section   class="sobre_nosotros" id="sbn">
        <iframe class="gato" src='https://my.spline.design/untitled-01ca9ae5ed70fdc60d6edca8c24483ad/' frameborder='0' loading="lazy" ></iframe>

        <div class="misyvi">
            <!-- <img id="imag" src="../../static/imgs_inicio/corazon.png" alt=""> -->
            
            <div class="txt">
                <h1>MISION</h1>
            </div><br><br><br><br><br><br><br><br><br><br>
            <div class="pyim">
                
            </div>
            <div class="txtco txtco1">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque reiciendis saepe, ipsa accusamus atque voluptatem! Laborum, aut magni. Quia aliquam omnis quo dolorum. Hic ut minus rem beatae quaerat soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt harum animi ex quibusdam eum tempore nisi natus assumenda, commodi quia fugiat sit expedita tempora velit accusamus consectetur vero ea totam? </p>
            </div><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br>
            <div class="txt">
                <h1>VISION</h1>
            </div><br><br><br><br><br><br><br><br><br><br>
            <div class="txtco txtco2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque reiciendis saepe, ipsa accusamus atque voluptatem! Laborum, aut magni. Quia aliquam omnis quo dolorum. Hic ut minus rem beatae quaerat soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt harum animi ex quibusdam eum tempore nisi natus assumenda, commodi quia fugiat sit expedita tempora velit accusamus consectetur vero ea totam? </p>
            </div>
        </div>
    

    </section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <section    class="sobre_nosotros">
        <div class="funciones"  id="fun">
            <div class="info">
                <h1>FUNCIONES ESPECIALES</h1><br>
                <div class="span"></div><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam adipisci minima modi nemo voluptatum sit praesentium quae iusto maxime? Voluptatibus distinctio fuga dolore consequatur dolores assumenda similique, suscipit non voluptate. Lorem ipsum, dolor sit amet consectetur adipisicing elit. A cumque in nulla omnis magni est, deserunt provident reiciendis amet, dolore accusantium maxime rem quidem sit maiores. Placeat deserunt quam eos! </p>
            </div>
          
        </div>

        <div class="lasf">
            <div class="cont1">
                <div class="imagen">
                    <img src="../../static/imgs_inicio/gato2.jpg" alt="">
                </div> 
                <div class="con">
                    <div class="fila1">
                        <div class="pck">
                            <i class="bi bi-chat-left-dots"></i> 
                            <h2>Chats con otros usuarios</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor maiores reprehenderit sapiente possimus eaque suscipit aspernatur cumque nemo nobis! Saepe esse aspernatur perferendis ducimus cum libero minus aperiam labore.</p>
                        </div>
                        <div class="pck">
                            <i class="bi bi-eye"></i>
                            <h2>Ver otras mascotas de usuarios</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor maiores reprehenderit sapiente possimus eaque suscipit aspernatur cumque nemo nobis! Saepe esse aspernatur perferendis ducimus cum libero minus aperiam labore.</p>
                        </div>
                        <div class="pck">
                            <i class="bi bi-bandaid"></i>
                            <h2>Primeros Auxilios</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor maiores reprehenderit sapiente possimus eaque suscipit aspernatur cumque nemo nobis! Saepe esse aspernatur perferendis ducimus cum libero minus aperiam labore.</p>
                        </div>
                    </div>
                    <div class="fila2">
                        <div class="pck">
                            <i class="bi bi-balloon-heart"></i>
                            <h2>Adoptar mascotas</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor maiores reprehenderit sapiente possimus eaque suscipit aspernatur cumque nemo nobis! Saepe esse aspernatur perferendis ducimus cum libero minus aperiam labore.</p>
                        </div>
                        <div class="pck">
                            <i class="bi bi-shield-fill-plus"></i>
                            <h2>Protectores </h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor maiores reprehenderit sapiente possimus eaque suscipit aspernatur cumque nemo nobis! Saepe esse aspernatur perferendis ducimus cum libero minus aperiam labore.</p>
                        </div>
                        <div class="pck">
                            <i class="bi bi-geo-alt"></i>
                            <h2>Localizacion de veterinaras</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolor maiores reprehenderit sapiente possimus eaque suscipit aspernatur cumque nemo nobis! Saepe esse aspernatur perferendis ducimus cum libero minus aperiam labore.</p>
                        </div>
                </div>     
            </div>       
        </div> 
    </section>
<br><br><br><br><br>
  
<div class="carousel" id="carousel">
    <div class="list">
        <div class="item">
            <!-- <img src="donacionesprins.png" alt=""> -->
            <img src="../../static/imgs_inicio/corazondef.png" alt="">
            <div class="intro">
                <div class="title">
                        DKJASBKDSAD
                </div>
                <div class="topic">
                    DASDWASCDZ
                </div>
                <div class="des">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, totam! Quos, velit provident. Perferendis vel at laborum quae, doloribus, nihil soluta dolor dolore quisquam tempore assumenda tempora placeat ipsam est?
                </div>
                <button class="seemore">
                         ver más &#8599
                </button>
            </div>



            <div class="detail">
                <div class="title">
                    xdxdxdxd
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati nemo atque natus beatae, doloribus quam. Officia, suscipit rem, soluta officiis consequuntur, placeat ullam quo enim atque animi fugiat excepturi.
                </div>
                <div class="specifications">
                    <div>
                        <p>ewew</p>
                        <p>ewe2ew</p>
                    </div>
                    <div>
                        <p>eqwads</p>
                        <p>132qweda</p>
                    </div>
                    <div>
                        <p>e43we</p>
                        <p>23des</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                </div>

                <div class="checkout">
                    <button>asadasdsa</button>
                    <button>checkout</button>
                </div>
            </div>
        </div>


        <div class="item">
            <!-- <img src="donfisicas.png" alt=""> -->
            <img src="../../static/imgs_inicio/donfisicas.png" alt="">
            <div class="intro">
                <div class="title">
                        Bienvenido a 
                </div>
                <div class="topic">
                    DONACIONES
                </div>
                <div class="des">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, totam! Quos, velit provident. Perferendis vel at laborum quae, doloribus, nihil soluta dolor dolore quisquam tempore assumenda tempora placeat ipsam est?
                </div>
                <button class="seemore">
                         ver más &#8599
                </button>
            </div>



            <div class="detail">
                <div class="title">
                    xdxdxdxd
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati nemo atque natus beatae, doloribus quam. Officia, suscipit rem, soluta officiis consequuntur, placeat ullam quo enim atque animi fugiat excepturi.
                </div>
                <div class="specifications">
                    <div>
                        <p>ewew</p>
                        <p>ewe2ew</p>
                    </div>
                    <div>
                        <p>eqwads</p>
                        <p>132qweda</p>
                    </div>
                    <div>
                        <p>e43we</p>
                        <p>23des</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                </div>

                <div class="checkout">
                    <button>asadasdsa</button>
                    <button>checkout</button>
                </div>
            </div>
        </div>



        <div class="item">
            <!-- <img src="donapadri.png" alt=""> -->
            <img src="../../static/imgs_inicio/donapadri.png" alt="">
            <div class="intro">
                <div class="title">
                        Donaciones
                </div>
                <div class="topic">
                    Físicas
                </div>
                <div class="des">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, totam! Quos, velit provident. Perferendis vel at laborum quae, doloribus, nihil soluta dolor dolore quisquam tempore assumenda tempora placeat ipsam est?
                </div>
                <button class="seemore">
                         ver más &#8599
                </button>
            </div>



            <div class="detail">
                <div class="title">
                    xdxdxdxd
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati nemo atque natus beatae, doloribus quam. Officia, suscipit rem, soluta officiis consequuntur, placeat ullam quo enim atque animi fugiat excepturi.
                </div>
                <div class="specifications">
                    <div>
                        <p>ewew</p>
                        <p>ewe2ew</p>
                    </div>
                    <div>
                        <p>eqwads</p>
                        <p>132qweda</p>
                    </div>
                    <div>
                        <p>e43we</p>
                        <p>23des</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                </div>

                <div class="checkout">
                    <button>asadasdsa</button>
                    <button>checkout</button>
                </div>
            </div>
        </div>


        <div class="item">
            <!-- <img src="doncomunidad.png" alt=""> -->
            <img src="../../static/imgs_inicio/doncomunidad.png" alt="">
            <div class="intro">
                <div class="title">
                        Donaciones
                </div>
                <div class="topic" style="font-size: 45px;">
                    Apadrinamiento
                </div>
                <div class="des">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, totam! Quos, velit provident. Perferendis vel at laborum quae, doloribus, nihil soluta dolor dolore quisquam tempore assumenda tempora placeat ipsam est?
                </div>
                <button class="seemore">
                         ver más &#8599
                </button>
            </div>



            <div class="detail">
                <div class="title">
                    xdxdxdxd
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati nemo atque natus beatae, doloribus quam. Officia, suscipit rem, soluta officiis consequuntur, placeat ullam quo enim atque animi fugiat excepturi.
                </div>
                <div class="specifications">
                    <div>
                        <p>ewew</p>
                        <p>ewe2ew</p>
                    </div>
                    <div>
                        <p>eqwads</p>
                        <p>132qweda</p>
                    </div>
                    <div>
                        <p>e43we</p>
                        <p>23des</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                </div>

                <div class="checkout">
                    <button>asadasdsa</button>
                    <button>checkout</button>
                </div>
            </div>
        </div>


        <div class="item">
            <!-- <img src="doncomunidad.png" alt=""> -->
            <img src="../../static/imgs_inicio/doncomunidad.png" alt="">
            <div class="intro">
                <div class="title">
                        Donaciones para la
                </div>
                <div class="topic">
                    comunidad
                </div>
                <div class="des">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, totam! Quos, velit provident. Perferendis vel at laborum quae, doloribus, nihil soluta dolor dolore quisquam tempore assumenda tempora placeat ipsam est?
                </div>
                <button class="seemore">
                         ver más &#8599
                </button>
            </div>



            <div class="detail">
                <div class="title">
                    xdxdxdxd
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati nemo atque natus beatae, doloribus quam. Officia, suscipit rem, soluta officiis consequuntur, placeat ullam quo enim atque animi fugiat excepturi.
                </div>
                <div class="specifications">
                    <div>
                        <p>ewew</p>
                        <p>ewe2ew</p>
                    </div>
                    <div>
                        <p>eqwads</p>
                        <p>132qweda</p>
                    </div>
                    <div>
                        <p>e43we</p>
                        <p>23des</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                </div>

                <div class="checkout">
                    <button>asadasdsa</button>
                    <button>checkout</button>
                </div>
            </div>
        </div>

        <div class="item">
            <!-- <img src="donvolunt.png" alt=""> -->
            <img src="../../static/imgs_inicio/donvolunt.png" alt="">
            <div class="intro">
                <div class="title">
                        Donaciones para 
                </div>
                <div class="topic">
                    Voluntarios
                </div>
                <div class="des">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quos dicta, numquam beatae quibusdam sit repellendus facere accusamus ipsa quia corporis. Fugit, natus cum? Ipsum, dolor totam! Quos, blanditiis dicta? quae, doloribus, nihil soluta dolor dolore quisquam tempore assumenda tempora placeat ipsam est?
                </div>
                <button class="seemore">
                         ver más &#8599
                </button>
            </div>



            <div class="detail">
                <div class="title">
                    xdxdxdxd
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio obcaecati nemo atque natus beatae, doloribus quam. Officia, suscipit rem, soluta officiis consequuntur, placeat ullam quo enim atque animi fugiat excepturi.
                </div>
                <div class="specifications">
                    <div>
                        <p>ewew</p>
                        <p>ewe2ew</p>
                    </div>
                    <div>
                        <p>eqwads</p>
                        <p>132qweda</p>
                    </div>
                    <div>
                        <p>e43we</p>
                        <p>23des</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                    <div>
                        <p>eq89wsda</p>
                        <p>eq89wsda</p>
                    </div>
                </div>

                <div class="checkout">
                    <button>asadasdsa</button>
                    <button>checkout</button>
                </div>
            </div>
        </div>
    </div >


    <div class="arrows">
        <button id="prev" > < </button>
        <button id="back"> regresar &#8599  </button>
        <button id="next"> >  </button>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
<section   class="auxilios" id="au">

            <div class="otau">
                <div class="contenidoau">
                    <div class="tituprim"><br><br>
                        <h1>sobre primeros auxilios</h1><br>
                        <p>Estamos en proceso de desarrolo en crear paginas especificamente para primeros auxilios, en varias situaciones distintas y que el usuario pueda ver mucha informacion, consejos, comodidades que debaria dar a su mascota.Tambien desarrollaremos paginas para lidiar en situaciones dificiles, como un animal herido o una mascota con sintomas extraños.Y por ultimo un pagina para ver las veterinarias mas cercanas y su informacion, tambien se podrian ver todas las veterinarias en el estado en el que te encuentras.</p>
                    </div>
                    <div class="ifra">
                        <iframe src='https://my.spline.design/untitled-07dc3d6631a1fcc7b2963e53178cc92b/' frameborder='0' width='100%' height='100%'></iframe>
                    </div>
                </div>
            
                <div class="fondnreg"></div>
            </div>

         
   
    



</section>

<br><br><br><br><br><br><br><br><br><br>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>//Codigo de fluides de las transiciones entre secciones
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $("a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>
    <script>
        const btns = document.querySelectorAll('.nav-btn');
        const slides = document.querySelectorAll('.video-slide');
        const contents = document.querySelectorAll('.content');

        var sliderNav = function (manual) {
            btns.forEach((btn) => {
                btn.classList.remove("active");
            });

            slides.forEach((slide) => {
                slide.classList.remove("active");
            });

            contents.forEach((content) => {
                content.classList.remove("active");
            });

            btns[manual].classList.add("active");
            slides[manual].classList.add("active");
            contents[manual].classList.add("active");
        }

        btns.forEach((btn, i) => {
            btn.addEventListener("click", () => {
                sliderNav(i);
            });
        });


        ScrollReveal({
            reset: true,
            distance: "60px",
            duration: 2500,
            delay: 400
        });
        //scroll de slider de videos
        ScrollReveal().reveal('.main-title, .section-title', { delay: 250, origin: 'left' });
        ScrollReveal().reveal('  .cont ', { delay: 250, origin: 'left', interval: 200 });
        ScrollReveal().reveal('.nav-btn', { delay: 250, origin: 'bottom', interval: 200 });

    </script>
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

    <script   src="../../static/js/inicio/inicio.js"></script>
    {% endblock %}
    
</body>
</html>