<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/inicio/administrador.css">
    <link rel="icon" href="../../static/Iconos/logo_blanco.png">
    <title>Inicio | Administrdor | Patrulla De Mascotas</title>
</head>
<body>
{% extends "layouts/Admin.html" %}
{% block content %}
    <div class="princ">
        <div class="cont">
            <div class="fila1">
                <div class="contenido1">
                    <h1>Bienvenido a pagina del administrador</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem consequatur nisi vel, iure consequuntur expedita incidunt impedit minima, laudantium, doloribus at saepe rerum necessitatibus! In cumque dolorem officiis est eos!</p>
                    <a href="">Ver más</a>
                </div>
        </div>
        <div class="fila2">
            <div class="contenido2">
           
                    <iframe src="https://my.spline.design/untitled-9da6d0648116490e838bf4cef57bdb24/" 
                    width="100%" height="500px" 
                    frameborder="0" allow="fullscreen" 
                    style="border: none;"></iframe>
                    <div class="oc">
                </div>
                  
               
               
            </div>
        </div>
        </div>
        
    </div>
        
{% endblock %}
</body>
</html>